/* hide the progress scrubber but keep the element spacing */
.vjs-progress-control {
    visibility: hidden;
}

.vjs-duration {
    visibility: hidden;
}

.vjs-time-divider {
    visibility: hidden;
}
